@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <title>Login Form</title>
</head>
<body class="bg-gray-100">

    <div class="container mx-auto mt-10">
        <div class="w-full max-w-xs mx-auto">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/Profesor/Validar" method="post">
                <h2 class="text-center text-2xl font-semibold mb-4">Sign in</h2>
                <div class="mb-4">
                    <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <span class="text-red-500 text-xs italic"></span>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <span class="text-red-500 text-xs italic"></span>
                </div>
                <div class="mb-4">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-full" type="submit">
                        Sign in
                    </button>
                </div>
            </form>
            <div class="text-center">
                <span><a href="/Curso/Index" class="text-blue-500 hover:underline">Registrar Curso</a></span>
                <span class="mx-2">|</span>
                <span><a href="/Curso/Listar" class="text-blue-500 hover:underline">Listar Cursos</a></span>
            </div>
        </div>
    </div>

</body>
</html>
