@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Skranji&display=swap');

.logo {
    font: oblique bold 120% cursive;
    text-decoration: none;
    font-size: 60px;
}

html, body {
    height: 100%;
}

.images-container {
    width: 800px; /* Ancho suficiente para mostrar todas las imágenes sin desplazamiento */
}

.button-with-icon {
    display: flex;
    align-items: center;
}

.button-icon {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}


.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: red;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}




/* *************************/


