@model List<HomeCourse.Models.Relacion>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutUser";
}
<html>


    <body>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-6">
            <!-- Tarjeta de inscripción 1 -->
            @foreach(var r in Model){
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <img src="https://static.mercadonegro.pe/wp-content/uploads/2021/02/23133540/curso-on-line.png" alt="Imagen del curso 1" class="w-full h-40 object-cover rounded-lg">
                    <div class="mt-4">
                        <p class="text-xl font-semibold">Número de Inscripción: @r.ID</p>
                        <p class="text-lg font-semibold">Curso: @r.NOMBRE</p>
                        <p class="text-sm text-gray-600">Profesor: @r.PROFESOR</p>
                        <p class="text-sm text-gray-600">Categoría: @r.CATEGORIA</p>
                    </div>
                </div>
            }

            <!-- Agrega más tarjetas de inscripción según sea necesario -->

        </div>
    </body>
</html>